.currentSession {
    
}

.tabGroupButtonTEST
{
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    color: hsl(0, 0%, 26%);
    -webkit-user-select: none;
    height: 30px;
    line-height: 30px;
    padding: 0px 9px 0px 9px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
    transition: border-color .05s linear;
}
